<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="images/logo.svg" / height="35px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="groupDropdown" data-toggle="dropdown">
                    Groups
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">AIDS/LifeCycle</a>
                    <a class="dropdown-item" href="#">Count</a>
                    <a class="dropdown-item" href="#">Emergency Operations</a>
                    <a class="dropdown-item" href="#">Count</a>
                    <a class="dropdown-item" href="#">Lost & Found</a>
                    <a class="dropdown-item" href="#">Medical</a>
                    <a class="dropdown-item" href="#">Participant Support</a>
                    <a class="dropdown-item" href="#">Route</a>
                    <a class="dropdown-item" href="#">Special Events</a>
                    <a class="dropdown-item" href="#">Staff</a>

                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search groups">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3 d-none d-sm-block">
            <div class="card">
                <div class="card-header bg-primary">
                    <h3>Your Groups</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h6>AIDS/LifeCycle</h6>
                        <p>All particiapnts and Staff</p>
                    </li>
                    <li class="list-group-item">
                        <h6>Count</h6>
                        <p>Rest Stop Count Updates</p>
                    </li>
                    <li class="list-group-item">
                        <h6>Emergency Operations</h6>
                        <p>Private channel for Medical updates</p>
                    </li>
                    <li class="list-group-item">
                        <h6>Lost and Found</h6>
                        <p>Participants looking for lost items</p>
                    </li>
                    <li class="list-group-item">
                        <h6>Medical</h6>
                        <p>General Med team updates</p>
                    </li>
                    <li class="list-group-item">
                        <h6>Participant Support</h6>
                        <p>Questions for Participant Support</p>
                    </li>
                    <li class="list-group-item">
                        <h6>Route Updates</h6>
                        <p>Whats happening on the Route</p>
                    </li>
                    <li class="list-group-item">
                        <h6>Special Events</h6>
                        <p>Use for Day on The Ride, Expo, etc.</p>
                    </li>
                    <li class="list-group-item">
                        <h6>Staff</h6>
                        <p>Updates for ALC Staff</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header message">Featured</h5>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum dolor sit amet consectetur</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At in distinctio reiciendis perspiciatis et dignissimos odit magnam accusamus architecto perferendis autem necessitatibus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 d-none d-sm-block">
                    <div class="card">
                        <h5 class="card-header bg-dark">Group Info</h5>
                        <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">More!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>